
.homecontainer {
  width: 600px;
  margin: 0 auto;
  background-color: white;
}
.formcard {
  background-color: white;
  box-shadow: 10px;
  padding: 20px;
  height:fit-content;
}
.homefooter {
  display: flex;
}

.formcreate {
  background-color: rgba(255, 255, 255, 0.273);
  box-shadow: 10px rgba(0, 0, 0, 0.126);
  padding: 10px;
}

.back {
  background-color: white;
  height: 100vh;
  background-image: image-url("grande_banner.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.backhomecentered {
  background-color: white;
  height: 100vh;
  background-image: image-url("grande_banner.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.backhome {
  background-color: white;
  height: 100vh;
  background-image: image-url("grande_banner.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  // display: flex;
  // align-items: center;
  // margin-top: -50px;
}
.homecontainer img {
  width: 300px;
  object-fit: contain;
}

h1, h2 {
  color: #42381e;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  text-shadow: 1px 1px #715f3235;
  padding: 30px 10px;
}

body{
  font-family: 'Mukta', sans-serif;
}
