<div class="card">
  <div class="card-header">
    <h6><%= booking.show.name %></h6>
  </div>
  <div class="card-subtitle text-center">
    <strong>Adresse</strong><p><%= booking.address %></p>
  </div>
</div>
