.button-orange {
  background-color: #E8A803 !important;
  border: #4e3801;
  box-shadow: 1px 3px 3px #4e38015d;
  border-radius: 3px;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
  text-align: center;
  color:#fffdf7 !important;
  width:fit-content;
}

.nav-but {
  width: fit-content;
}

.button-login {
  position: absolute;
  top: 30px; right: 40px;
  background-color: #E8A803 !important;
  border: #4e3801;
  box-shadow: 1px 3px 3px #4e38015d;
  border-radius: 3px;
  // margin-right: 10px;
  // margin-top: 10px;
  text-decoration: none;
  color:#fffdf7;
  padding: 3px 20px 3px 20px;
}
.button-signin {
  position: absolute;
  top: 30px; right: 280px;
  background-color: #E8A803 !important;
  border: #4e3801;
  box-shadow: 1px 3px 3px #4e38015d;
  border-radius: 3px;
  // margin-right: 10px;
  // margin-top: 10px;
  text-decoration: none;
  color:#fffdf7;
  padding: 3px 20px 3px 20px;
}
a:hover {
  color:#000000a9;
  opacity: 0.8;
}

.button-orange:hover {
  color:#ffffff;
  opacity: 0.8;
}

.nav-item > a:hover {
  color: black;
  text-shadow: none;
}
