<% @shows.each do |show| %>
  <%= show.name %>
<% end %>

<div id="show-modal">
  <%= button_to "Réserver", bookings_path(address: @address, category: @category, date: @date), method: :post %>
</div>
