<div class="navbar">
</div>
<div class="offset-1 col-10 mt-5">
  <div class="row mb-3">
    <div class="col-3">
    <img src="./images/log1b.png" alt="">
    </div>
    <div class="offset-1 col-6 flex-column">
    <h2><%= @show.name %></h2>
    <h3><%= @show.company %></h3>
    </div>
  </div>

  <div class="row">
    <p><%= @show.description %></p>
  </div>

  <div class="row">
    tbd
  </div>

</div>
